---
import REACT from "./icons/ReactJS.astro";
import TAILWIND from "./icons/TailwindCSS.astro";
import MATERIALUI from "./icons/MaterialUi.astro";
import FIREBASE from "./icons/Firebase.astro";
import LinkButtom from "./LinkButtom.astro";
import Github from "./icons/Github.astro";
import JAVASCRIPT from "./icons/Javascript.astro";
import CSS from "./icons/CSS.astro";
import PYTHON from "./icons/Python.astro";
import POSTGRESQL from "./icons/Postgresql.astro";
import NODE from "./icons/Node.astro";

const TAGS = {
    REACT: {
        name: "React",
        class: "bg-black text-white",
        icon: REACT,
    },
    TAILWINDCSS: {
        name: "Tailwind CSS",
        class: "bg-black text-white",
        icon: TAILWIND,
    },
    MATERIALUI: {
        name: "Material UI",
        class: "bg-black text-white",
        icon: MATERIALUI,
    },
    FIREBASE: {
        name: "Firebase",
        class: "bg-black text-white",
        icon: FIREBASE,
    },
    JAVASCRIPT: {
        name: "Javascript",
        class: "bg-black text-white",
        icon: JAVASCRIPT,
    },
    CSS: {
        name: "CSS3",
        class: "bg-black text-white",
        icon: CSS,
    },
    PYTHON: {
        name: "Python",
        class: "bg-black text-white",
        icon: PYTHON,
    },
    NODE: {
        name: "Node",
        class: "bg-black text-white",
        icon: NODE
    },
    POSTGRESQL: {
        name: "Postgresql",
        class: "bg-black text-white",
        icon: POSTGRESQL
    }
}
   

const PROJECTS = [
    {
        title: "NextStep - Blog de Tecnología",
        description: "NexStep es un blog de artículos sobre tecnología, gestión de proyectos, técnicas de organización, productividad, negocios y mucho más.",
        link: "https://nextstep-blog-marcosmartos04.netlify.app/",
        github: "https://github.com/MarcosMartos/nextstep-blog.git",
        image: "/projects/home.webp",
        tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.NODE, TAGS.POSTGRESQL]
    },
    {
        title: "E-commerce - Sitio web de Adidas desarrollado con React",
        description: "Proyecto realizado para curso de ReactJS en Coderhouse, implementando lógica de negocio, y metodologías ágiles.",
        github: "https://github.com/MarcosMartos/Ecommerce-Adidas",
        image: "/projects/ecommerce-react.webp",
        tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.FIREBASE],
    },
    {
        title: "Calculadora",
        description: "Proyecto de una calculadora para aplicación de lógica javascript con diseño responsivo.",
        link: "https://calculadora-marcosmartos.vercel.app/",
        github: "https://github.com/MarcosMartos/Calculadora.git",
        image: "/projects/calculadora-javascript.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.CSS],
    },
    {
        title: "Tres en raya - Juego para el manejo de estados",
        description: "Juego para la implementación de lógica y manejo de estados y hooks en react.",
        link: "https://tres-en-raya-marcosmartos.vercel.app/",
        github: "https://github.com/MarcosMartos/Tres-en-raya.git",
        image: "/projects/tres-en-raya.webp",
        tags: [TAGS.REACT, TAGS.CSS],
    }
]
---

{
    PROJECTS.map(({title, description, tags, image, link, github})=>(
        <article class="mb-20">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map(tag=>(
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4" />
                            { tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Imagen del proyecto: ${title}`}>
            <footer class="flex gap-x-4 mt-4 justify-start">
                {github && (<LinkButtom href={github}>
                    <Github class="size-6"/>
                    Ver código
                </LinkButtom>
                )}
                {link && ( <LinkButtom href={link}>
                    <svg  class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                    Ir al sitio
                </LinkButtom>    )}
            </footer>
        </article>
    ))
}